.horizontal-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}